<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="layui-side layui-bg-black" th:fragment="left">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a th:href="@{/MeterChannel/index}">信道管理</a>
                    </li>
                    <li class="layui-nav-item">
                        <a th:href="@{/Meter400V/index}">监测表管理</a>
                    </li>
                    <li class="layui-nav-item">
                        <a th:href="@{/FactorDataGroupCfg/index}">历史数据分析配置</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>