<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/module/layui2.5.4/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:insert="layout/header :: header"></div>
    <div th:insert="layout/left :: left"></div>
    <div layout:fragment="content" > content</div>
    <div th:insert="layout/footer :: footer"></div>
</div>

<script type="text/javascript" th:src="@{/module/layui2.5.4/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>